In [1]:
suppressMessages(suppressWarnings(library(dplyr)))
suppressMessages(suppressWarnings(library(reshape2)))
suppressMessages(suppressWarnings(library(stringr)))
suppressMessages(suppressWarnings(library(anytime)))
suppressMessages(suppressWarnings(library(tidyverse)))
suppressMessages(suppressWarnings(library(plotly)))
library(readxl)
options(repr.plot.width=16, repr.plot.height=7)
options(scipen = 999) # Disabling scientific notation

Warning message:
"package 'readxl' was built under R version 4.1.2"

In [2]:
equity = read_excel("Data_Extract_From_Poverty_and_Equity.xlsx")

In [3]:
equity = data.frame(equity)
tail(equity)

    Series.Name                            Series.Code    Country.Name
990 Income share held by lowest 20%        SI.DST.FRST.20 World
991 NA                                     NA             NA
992 NA                                     NA             NA
993 NA                                     NA             NA
994 Data from database: Poverty and Equity NA             NA
995 Last Updated: 10/05/2021               NA             NA
    Country.Code X1974..YR1974. X1975..YR1975. X1976..YR1976. X1977..YR1977.
990 WLD          ..             ..             ..             ..
991 NA           NA             NA             NA             NA
992 NA           NA             NA             NA             NA
993 NA           NA             NA             NA             NA
994 NA           NA             NA             NA             NA
995 NA           NA             NA             NA             NA
    X1978..YR1978. X1979..YR1979. ... X2011..YR2011. X2012..YR2012.
990 ..             ..             ... ..             ..
991 NA             NA             ... NA             NA
992 NA             NA             ... NA             NA
993 NA             NA             ... NA             NA
994 NA             NA             ... NA             NA
995 NA             NA             ... NA             NA
    X2013..YR2013. X2014..YR2014. X2015..YR2015. X2016..YR2016. X2017..YR2017.
990 ..             ..             ..             ..             ..
991 NA             NA             NA             NA             NA
992 NA             NA             NA             NA             NA
993 NA             NA             NA             NA             NA
994 NA             NA             NA             NA             NA
995 NA             NA             NA             NA             NA
    X2018..YR2018. X2019..YR2019. X2020..YR2020.
990 ..             ..             ..
991 NA             NA             NA
992 NA             NA             NA
993 NA             NA             NA
994 NA             NA             NA
995 NA             NA             NA

In [4]:
columns = colnames(equity)
columns = str_replace(columns, "\\.", "")
columns = str_replace(columns, "\\.", "")
columns = str_replace(columns, "\\.", "")
columns = str_sub(columns, start = -4)
columns[1] = "series_name"
columns[2] = "series_code"
columns[3] = "country_name"
columns[4] = "country_code"
columns

 [1] "series_name"  "series_code"  "country_name" "country_code" "1974"
 [6] "1975"         "1976"         "1977"         "1978"         "1979"
[11] "1980"         "1981"         "1982"         "1983"         "1984"
[16] "1985"         "1986"         "1987"         "1988"         "1989"
[21] "1990"         "1991"         "1992"         "1993"         "1994"
[26] "1995"         "1996"         "1997"         "1998"         "1999"
[31] "2000"         "2001"         "2002"         "2003"         "2004"
[36] "2005"         "2006"         "2007"         "2008"         "2009"
[41] "2010"         "2011"         "2012"         "2013"         "2014"
[46] "2015"         "2016"         "2017"         "2018"         "2019"
[51] "2020"

In [5]:
colnames(equity) = columns
tail(equity)

    series_name                            series_code    country_name
990 Income share held by lowest 20%        SI.DST.FRST.20 World
991 NA                                     NA             NA
992 NA                                     NA             NA
993 NA                                     NA             NA
994 Data from database: Poverty and Equity NA             NA
995 Last Updated: 10/05/2021               NA             NA
    country_code 1974 1975 1976 1977 1978 1979 ... 2011 2012 2013 2014 2015
990 WLD          ..   ..   ..   ..   ..   ..   ... ..   ..   ..   ..   ..
991 NA           NA   NA   NA   NA   NA   NA   ... NA   NA   NA   NA   NA
992 NA           NA   NA   NA   NA   NA   NA   ... NA   NA   NA   NA   NA
993 NA           NA   NA   NA   NA   NA   NA   ... NA   NA   NA   NA   NA
994 NA           NA   NA   NA   NA   NA   NA   ... NA   NA   NA   NA   NA
995 NA           NA   NA   NA   NA   NA   NA   ... NA   NA   NA   NA   NA
    2016 2017 2018 2019 2020
990 ..   ..   ..   ..   ..
991 NA   NA   NA   NA   NA
992 NA   NA   NA   NA   NA
993 NA   NA   NA   NA   NA
994 NA   NA   NA   NA   NA
995 NA   NA   NA   NA   NA

In [6]:
equity = equity %>%
    mutate_at(columns[5:length(columns)], as.numeric) %>%
    melt() %>%
    mutate(year = as.character(variable)) %>%
    na.omit
tail(equity)

Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"
Using series_name, series_code, country_name, country_code as id variables

      series_name                     series_code    country_name country_code
45688 Income share held by lowest 20% SI.DST.FRST.20 Panama       PAN
45690 Income share held by lowest 20% SI.DST.FRST.20 Paraguay     PRY
45691 Income share held by lowest 20% SI.DST.FRST.20 Peru         PER
45718 Income share held by lowest 20% SI.DST.FRST.20 Thailand     THA
45727 Income share held by lowest 20% SI.DST.FRST.20 Ukraine      UKR
45729 Income share held by lowest 20% SI.DST.FRST.20 Uruguay      URY
      variable value year
45688 2019     3.6   2019
45690 2019     4.8   2019
45691 2019     5.2   2019
45718 2019     7.7   2019
45727 2019     9.7   2019
45729 2019     5.8   2019

In [7]:
most_recent_info = equity %>%
#     mutate(year = as.character(variable)) %>%
    select(country_code, year) %>%
#     mutate_at(c('variable'), as.numeric) %>%
#     select(country_code, variable) %>%
    group_by(country_code) %>%
    summarize(year = max(year))
tail(most_recent_info)

  country_code year
1 WSM          2013
2 XKX          2017
3 YEM          2014
4 ZAF          2014
5 ZMB          2015
6 ZWE          2017

In [8]:
most_recent_info = equity %>%
    inner_join(most_recent_info, by = c("year", "country_code")) %>%
    group_by(country_code, year) %>%
    summarize(total = sum(value)) %>%
    inner_join(equity, by = c("year", "country_code")) %>%
    filter(series_name == "Income share held by highest 20%") %>%
    mutate(first_quintil = value / total) %>%
    distinct(country_code, year, total, first_quintil)

tail(most_recent_info)

`summarise()` has grouped output by 'country_code'. You can override using the `.groups` argument.

  country_code year total first_quintil
1 WSM          2013  99.9 0.4634635
2 XKX          2017 100.0 0.3860000
3 YEM          2014 100.0 0.4470000
4 ZAF          2014 100.1 0.6813187
5 ZMB          2015 100.1 0.6123876
6 ZWE          2017 100.0 0.5110000

In [9]:
final_dataset = equity %>%
    inner_join(most_recent_info, by = c("year", "country_code")) %>%
    mutate(country_name = paste(country_name, " (", year, ")", sep="" )) %>%
    select(series_name, country_name, value, first_quintil, total) %>%
    mutate(percentage_of_total = value / total) %>%
    mutate(series_name = replace(series_name, series_name=="Income share held by highest 20%", "1 - Top 20%")) %>%
    mutate(series_name = replace(series_name, series_name=="Income share held by second 20%", "2 - 20%-40%")) %>%
    mutate(series_name = replace(series_name, series_name=="Income share held by third 20%", "3 - 40%-60%")) %>%
    mutate(series_name = replace(series_name, series_name=="Income share held by fourth 20%", "4 - 60%-80%")) %>%
    mutate(series_name = replace(series_name, series_name=="Income share held by lowest 20%", "5 - Bottom 20%")) 
#     spread(series_name, value) 

tail(final_dataset)

    series_name    country_name    value first_quintil total
814 5 - Bottom 20% Panama (2019)   3.6   0.5434565     100.1
815 5 - Bottom 20% Paraguay (2019) 4.8   0.5120000     100.0
816 5 - Bottom 20% Peru (2019)     5.2   0.4715285     100.1
817 5 - Bottom 20% Thailand (2019) 7.7   0.4280000     100.0
818 5 - Bottom 20% Ukraine (2019)  9.7   0.3653654      99.9
819 5 - Bottom 20% Uruguay (2019)  5.8   0.4590000     100.0
    percentage_of_total
814 0.03596404
815 0.04800000
816 0.05194805
817 0.07700000
818 0.09709710
819 0.05800000

In [ ]:
options(repr.plot.width=16, repr.plot.height=50)
final_dataset %>%
    ggplot(aes(x=forcats::fct_reorder(country_name, first_quintil),y=desc(percentage_of_total), 
               fill=series_name)) + 
    geom_col() + 
    coord_flip() + 
    geom_text(aes(label=paste0(sprintf("%1.1f", percentage_of_total*100),"%")), 
             position=position_stack(vjust=0.5)) +
    labs(x="Country (most recent year info)", y="Share of Income", 
         caption = c("Data Source: https://databank.worldbank.org/source/poverty-and-equity", "Source code: ")) + 
        theme_minimal() +
    theme(
#         plot.caption = element_text(hjust=c(1, 0)),
        axis.text.x=element_blank(),
        axis.ticks.x=element_blank(),
    )
    
#     annotate("text",  x=-20, y = 0, label = "Data Source: https://databank.worldbank.org/source/poverty-and-equity", 
#              fontface = "bold") +

In [ ]:
https://databank.worldbank.org/source/poverty-and-equity